:root.theme-light {
  --page-background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --corners-color: #353430;
  --accent-text-color: #353430;
  --main-title-color: #FFC2E6;
  --main-text-color: #353430;
  --button-hover_color: #32312D66;
}
 
@media (prefers-color-scheme: light) {
  :root {
    --page-background-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --corners-color: #353430;
    --accent-text-color: #353430;
    --main-title-color: #FFC2E6;
    --main-text-color: #353430;
    --button-hover_color: #32312D66;
  }
}  

.theme-light .lamp {
  display: none;
}