
:root.theme-light {
  --page-background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --corners-color: #353430;
  --accent-text-color: #353430;
  --main-title-color: #FFC2E6;
  --main-text-color: #353430;
  --button-hover_color: #32312D66;
}

.theme-light .page {
  background-image: var(--page-background-image);
  background-color: var(--background-color);
}

.theme-light .lamp {
  display: none;
}

.theme-light  .header__theme-menu-button,
.theme-light  .section_title {
  color: var(--accent-text-color);
}

.theme-light  .header__theme-menu-button_active {
  outline-color: var(--accent-text-color);
}

.theme-light  .header__theme-menu-button:focus-visible {
  border-color: var(--accent-text-color);
}

 
@media (prefers-color-scheme: light) {
  :root {
    --page-background-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --corners-color: #353430;
    --accent-text-color: #353430;
    --main-title-color: #FFC2E6;
    --main-text-color: #353430;
    --button-hover_color: #32312D66;
  }

  .theme-light .page {
    background-image: var(--page-background-image);
    background-color: var(--background-color);
  }

  .theme-light .lamp {
    display: none;
  }

  .theme-light  .header__theme-menu-button,
  .theme-light  .section_title {
    color: var(--accent-text-color);
  }

  .theme-light  .header__theme-menu-button_active {
    outline-color: var(--accent-text-color);
  }

  .theme-light  .header__theme-menu-button:focus-visible {
    border-color: var(--accent-text-color);
  }
}  