.page {
  background-color: var(--background-color);
  background-image: var(--page-background-image);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: var(--general-font-family),  monospace;
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 130%;
  color: var(--main-text-color);
}

/* фокус и не фокус */
.main_title {
  color: var(--main-title-color);
  line-height: 83%;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

/* уголки */
.focus-section::after,
.focus-section::before {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
}

.focus-section::after {
  border-inline-start: 1px solid var(--corners-color);
  border-block-end: 1px solid var(--corners-color);
  left: var(--page-padding-block-inline);
  bottom: var(--page-padding-block-inline);
}

.focus-section::before {
  border-block-start: 1px solid var(--corners-color);
  border-inline-end: 1px solid var(--corners-color);
  top: var(--page-padding-block-inline);
  right: var(--page-padding-block-inline);
}

/* header */
.header {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas: 
  "menu"
  "cover-title"
  "cover-text";
  position: relative;
  padding-block: var(--page-padding-block-inline);
  padding-inline: var(--page-padding-block-inline);
  min-block-size: min(668px, 100vh);
  block-size: 100vh;
}

/* rec */
.lamp {
  display: none;
  position: absolute;
  top: var(--page-padding-block-inline);
  right: var(--page-padding-block-inline);
  color: var(--accent-color);
}

.lamp::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-inline: 10px;
}

/* стили для меню кнопок */
.header__theme-menu {
  justify-items: end;
  margin-block: var(--theme-menu-margin-block);
  grid-area: menu;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--theme-menu-gap);
  
}

.header__theme-menu-button {
  color: var(--corners-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  min-width: 70px;
  min-height: 26px;
  line-height: 100%;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--corners-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--corners-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover_color);
}

.cover-title {
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-area: cover-title;
}

.cover-text {
  grid-area: cover-text;
  margin-block: var(--cover-text-padding-block);
  font-weight: 700;
}

/* main */
.main {
  margin-block: var(--main-margin-block);
  margin-inline: var(--page-padding-block-inline);
}

.main_section {
  margin-block: var(--main-sections-gap);
}

/* все, что на оранжевом фоне */
.accent-text {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

.section_title {
  color: var(--corners-color);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ссылка в тексте */
.section_link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.section_link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section_link:focus {
  outline: none;
}

.section_link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

/* секции */
.section {
  display: grid;
  gap: 21px;
}

.section_container {
    gap: 20px;
    display: grid;
}

/* почему-секция*/
.why-section {
  margin-block-start: 0;
}

/* секция с фото */
.gallery-section {
  display: grid;
  grid-template-rows: auto;
  gap: var(--page-padding-block-inline);
  margin-block-end: 0;
  grid-auto-flow: dense;
}

.gallery-section_image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* footer */
.footer {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-block-size: min(668px, 100vh);
  block-size: 100vh;
  padding-block: var(--page-padding-block-inline);
  padding-inline: var(--page-padding-block-inline);
}

.footer-title {
  text-shadow: 2px 2px 0 var(--accent-color);
  margin-block: var(--footer-title_margin-block);
  justify-self: center;
}

@media (width >= 768px), (width >= 1024px) {
  .main_title {
    font-size:clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .cover-title {
    margin-left: -20px;
  }

  .cover-text {
    max-width: 50%;
    justify-self: end;
  }

  .why-section_container {
    grid-column: 2 / 3;
  }
}

@media (width >= 768px) {
  .header,
  .footer {
    min-height: 1024px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .what-section_container {
    gap: 21px;
    grid-column: 1 / 3;
  }

  .how-section_container {
    grid-column: 2 / 3;
  }

  .gallery-section_image {
    height: 100%;
    min-inline-size: 230px;
  }

  .gallery-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-section_title {
    grid-column: 1 / 4;
  }

  .sunset-image {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .ice-cream-image {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .tape-image {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .books-image {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .street-image {
    grid-column: 2 / 4;
  }
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-height: 768px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    justify-self: center;
  }

  .section_title {
    max-inline-size: 315px;
  }

  .why-section,
  .how-section {
    grid-template-columns: 315px 1fr;
  }

  .what-section {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
  }

  .what-section_container {
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    grid-auto-columns: minmax(315px, 1fr);
  }
}